<div class="page-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>首页</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>欢迎来到 Angular Material 演示应用！</p>
      <p>
        这是一个使用 Angular Material 构建的简单应用，展示了基本的路由功能和
        Material 组件的使用。
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/about">
        了解更多
      </button>
    </mat-card-actions>

    <mat-card-actions>
      <mat-slide-toggle>Toggle me!</mat-slide-toggle>
    </mat-card-actions>
    <section class="example-section">
      <mat-checkbox class="example-margin">Checked</mat-checkbox>
      <mat-checkbox class="example-margin">Indeterminate</mat-checkbox>
    </section>
    <div matBadge="4" matBadgeOverlap="true" class="demo-section">
      Text with a badge
    </div>
    <div>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">Bold</mat-button-toggle>
        <mat-button-toggle value="italic">Italic</mat-button-toggle>
        <mat-button-toggle value="underline">Underline</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-chip-set aria-label="Fish selection">
      <mat-chip>One fish</mat-chip>
      <mat-chip>Two fish</mat-chip>
      <mat-chip>Three fish</mat-chip>
      <mat-chip disabled>Four fish</mat-chip>
    </mat-chip-set>
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="home"
    ></mat-icon>
  </mat-card>
</div>
