/* 引入 Material 预定义主题 */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* 引入 Material 图标字体 */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* 全局样式 */
html, body { 
  height: 100%; 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}
