.spacer {
  flex: 1 1 auto;
}

.app-title {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  padding-left: 0;
}

.nav-links {
  display: flex;
  gap: 8px;
}

.active-link {
  background-color: rgba(255, 255, 255, 0.2);
}